@use 'variables' as v;
@use 'base' as b;

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 64px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include b.responsive(v.$breakpoint-mobile) {
        max-width: 640px;
        padding: 40px;
    }
    @include b.responsive(v.$breakpoint-tablet) {
        max-width: 1120px;
    }
    @include b.responsive(v.$breakpoint-desktop) {
        max-width: 1440px;
        padding: 120px;
    }
}

// Titles on website
section {
    h1.title {
        text-transform: uppercase;
        font-size: 2.5rem;
        line-height: 1;
    }
    h2.title {
        text-transform: uppercase;
        font-size: 2.25rem;
        line-height: 1;

        @include b.responsive(v.$breakpoint-desktop) {
            font-size: 3rem;
        }
    }
    h3.title {
        text-transform: uppercase;
        font-size: 2.125rem;
        line-height: 1;

        @include b.responsive(v.$breakpoint-desktop) {
            font-size: 2.25rem;
        }
    }

    
}

#hero .container {
    display: grid;
    grid-template-areas:
        "logo"
        "contenido"
        "video"
        "botones";
    grid-template-columns: 1fr;
    gap: 40px;
    
    .logo      { grid-area: logo; }
    .contenido { grid-area: contenido; }
    .botones   { grid-area: botones; }
    .video     { grid-area: video; }

    @include b.responsive(v.$breakpoint-desktop) {
        grid-template-areas:
            "logo      logo"
            "contenido video"
            "botones   video";
        grid-template-columns: 1fr 1fr;
    }
}

#hero {
    background: white;

    .logo {
        justify-self: center;
        align-self: center;

        img {
            max-width: 280px;

            @include b.responsive(v.$breakpoint-tablet) {
                max-width: 480px;
            }
        }
    }

    .botones {
        display: flex;
        flex-direction: column;
    }
    .video {
        width: 100%;
        aspect-ratio: 16 / 9;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .content {
        max-width: 400px;
        margin: auto;

        .title {
            text-align: center;

            @include b.responsive(v.$breakpoint-tablet) {
                font-size: 3.5rem;
                text-align: left;
            }
        }
        .description {
            text-align: center;
            font-size: 1.125rem;
            font-weight: 500;
            margin-top: 1rem;

            @include b.responsive(v.$breakpoint-tablet) {
                font-size: 1.375rem;
                text-align: left;
            }
        }

        @include b.responsive(v.$breakpoint-tablet) {
            max-width: 560px;
        }
    }
}

#skills .container {
    display: grid;
    grid-template-areas:
        "title"
        "content"
        "cta";
    grid-template-columns: 1fr;
    gap: 40px;

    .the-title   { grid-area: title; }
    .the-content { grid-area: content; }
    .the-cta     { grid-area: cta; }

}
#skills {
    .the-title {
        text-align: center;
    }
    .the-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 40px;

        .card-skill {
            display: flex;
            padding: 24px;
            background: v.$lightblue-2;
            align-items: center;
            gap: 16px;
            box-shadow:
                0px 5px v.$lightblue-5,
                0px -5px v.$lightblue-5,
                5px 0px v.$lightblue-5,
                -5px 0px v.$lightblue-5;
    
            img { width: 64px;}

            @include b.responsive(v.$breakpoint-tablet) {
                flex-direction: column;

                img { width: 124px; }
            }
        }

        @include b.responsive(v.$breakpoint-tablet) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
    }
    .the-cta {
        .description {
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;
            margin: 24px 0 24px;
        }
    }
}

#rewards .container {
    display: grid;
    grid-template-areas:
        "title"
        "hubito"
        "content";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 40px;
    
    .the-title { grid-area: title; }
    .hubito    { grid-area: hubito; }
    .the-content   { grid-area: content; }

    @include b.responsive(v.$breakpoint-tablet) {
        max-width: 640px;
    }
    @include b.responsive(v.$breakpoint-desktop) {
        max-width: 1440px;
        grid-template-areas:
            "title title title"
            "hubito content content";
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#rewards {
    background: v.$primary-3;

    .the-title {
        .title {
            color: v.$bg-light-1;
        }
    }
    .hubito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: v.$lightblue-2;
        position: relative;
        padding: 48px 32px;

        .title {
            text-align: center;
        }

        img.img {
            height: 240px;
            
        }

        .pattern-lt {
            width: 48px;
            position: absolute;
            left: 0;
            top: 0;
        }
        .pattern-lb {
            width: 48px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: rotate(-90deg);
        }
        .pattern-rt {
            width: 48px;
            position: absolute;
            right: 0;
            top: 0;
            transform: rotate(90deg);
        }
        .pattern-rb {
            width: 48px;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: rotate(180deg);
        }
    }
    .the-content {
        background: v.$bg-light-1;
        padding: 48px 32px;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .description,
        .title {
            max-width: 580px;
        }
        .title {
            margin-bottom: 16px;
            color: v.$primary-4;
        }

        .pattern-lt {
            width: 48px;
            position: absolute;
            left: 0;
            top: 0;
        }
        .pattern-lb {
            width: 48px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: rotate(-90deg);
        }
        .pattern-rt {
            width: 48px;
            position: absolute;
            right: 0;
            top: 0;
            transform: rotate(90deg);
        }
        .pattern-rb {
            width: 48px;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: rotate(180deg);
        }
        .image {
            width: 100%;
            max-width: 640px;
            margin-top: 24px;
        }
    }
}

// COURSES
#courses .container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include b.responsive(v.$breakpoint-desktop) {
        max-width: unset;
    }
}
#courses {
    background: v.$bg-dark-1;

    .the-title .title { color: v.$lightblue-1; }
    .the-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include b.responsive(v.$breakpoint-tablet) {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            max-width: 780px;
        }
        @include b.responsive(1600px) {
            max-width: unset;
        }

        .course-item {
            display: grid;
            grid-template-areas:
                "cover title"
                "cover author";
            grid-template-columns: auto 1fr;
            column-gap: 16px;
            margin: 12px 0;
            width: 100%;

            .image--link  { grid-area: cover; }
            .title--link  { grid-area: title; }
            .author--link { grid-area: author; }

            .image--link {
                width: 80px;
                height: 80px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                box-shadow: 
                    0px -4px v.$primary-3, // arriba
                    4px 0px v.$primary-3, // derecha
                    0px 4px v.$primary-3, // abajo
                    -4px 0px v.$primary-3; // izquierda
                margin: 4px;
                background-color: v.$primary-3;

                .cover {
                    height: 100%;
                    transform: scale(1.2);

                    &:hover {
                        opacity: 0.5;
                        filter: hue-rotate(-45deg);
                    }
                }

                @include b.responsive(v.$breakpoint-tablet) {
                    width: calc(100% - 8px);
                    height: auto;
                    aspect-ratio: 3 / 2;
                }
            }
            .title--link .title {
                font-size: 24px;
                line-height: 1;
                color: v.$bg-light-1;
                margin-bottom: 0.125rem;

                &:hover {
                    color: v.$primary-2;
                }

                @include b.responsive(v.$breakpoint-tablet) {
                    margin-top: 1rem;
                }
            }
            .author--link .author {
                font-size: 1.5rem;
                font-family: v.$font-titles;
                color: v.$lightblue-3;
            }

            @include b.responsive(v.$breakpoint-tablet) {
                grid-template-areas:
                    "cover"
                    "tag"
                    "title"
                    "author";
                grid-template-columns: 1fr;
                margin: 0;
            }
        }
        
        @include b.responsive(v.$breakpoint-tablet) {
            .course-item {
                max-width: 320px;
            }
        }

        
    }
    .cta {
        .btn.primary {
            box-shadow:
                0px -5px v.$darkblue-5,
                5px 0px v.$darkblue-5,
                0px 5px v.$darkblue-5,
                -5px 0px v.$darkblue-5,
                0px 10px v.$darkblue-4,
                5px 5px v.$darkblue-4,
                -5px 5px v.$darkblue-4,
                inset 0px 5px v.$primary-2;
        }
        .btn.primary:active {
            box-shadow:
                0px -5px v.$darkblue-5,
                5px 0px v.$darkblue-5,
                0px 5px v.$darkblue-5,
                -5px 0px v.$darkblue-5,
                inset 0px 5px v.$primary-2;
        }
    }
}

#footer {
    background-color: v.$bg-dark-2;

    .container {
        gap: 16px;
    }

    .logo {
        max-width: 136px;

        img { width: 100%; }
    }
    .sm-links {
        display: flex;
        gap: 16px;
    }
    .sm-links .sm-link {
        margin: 3px;
        height: 38px;

        &:hover {
            margin: 0;
            border: 3px solid v.$primary-3;
        }
    }
    .copy, .legal {
        font-family: v.$font-ui;
        color: v.$lightblue-1;
    }
    .legal a {
        text-decoration: underline;
        color: v.$lightblue-1;

        &:hover {
            color: v.$primary-3;
        }
        &:active {
            color: v.$primary-4;
        }
    }
}

#page--prizes {
    background-image: url(../img/bg--ehds.png);
    background-size: cover;
    background-position: center;    

    .container {
        margin: auto;
        width: 100%;
        padding: 24px 20px;
        min-height: 100vh;
        max-width: 480px;

        @include b.responsive(v.$breakpoint-tablet) {
            padding: 48px 40px;
        }
        @include b.responsive(v.$breakpoint-desktop) {
            padding: 64px 56px;
            max-width: 1200px;
        }
        @include b.responsive(v.$breakpoint-large) {
            padding: 80px 0;
        }
        .title {
            font-family: v.$font-titles;
            font-size: 2.5rem;
            line-height: 1;
            text-transform: uppercase;
            color: v.$bg-light-1;
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;

            @include b.responsive(v.$breakpoint-tablet) {
                font-size: 4rem;
                margin-bottom: 1rem;
            }
        }
        .prizes {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            width: 100%;
            max-width: 480px;
            gap: 32px;
            justify-content: center;
            align-items: center;

            @include b.responsive(v.$breakpoint-tablet) {
                max-width: unset;
            }
            @include b.responsive(v.$breakpoint-desktop) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
            }
        }
    }

    .prize--item {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        display: flex;
        padding: 32px;
        gap: 32px;
        background-color: v.$bg-light-1;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        box-shadow:
            0px 5px v.$lightblue-5,
            0px -5px v.$lightblue-5,
            5px 0px v.$lightblue-5,
            -5px 0px v.$lightblue-5;
        
        .prize {
            width: 124px;
        }
        .the-title {
            font-size: 28px;
            line-height: 1;
            text-align: center;
        }
    }

}