// Colores
$primary-color: #083AB5;
$secondary-color: #2A67FB;

// text 
$font-title: 'Press Start 2P', monospace;
$font-text: 'Fira Mono', monospace;
$font-alt: 'Jersey 10', sans-serif;


// Color palette
$primary-1: #87A9FC;
$primary-2: #5F8DFC;
$primary-3: #2A67FB;
$primary-4: #0E4DF1;
$primary-5: #083AB5;
$darkblue-1: #5C6C99;
$darkblue-2: #404F77;
$darkblue-3: #293350;
$darkblue-4: #181F33;
$darkblue-5: #0C101C;
$lightblue-1: #F8F9FC;
$lightblue-2: #E3E7F2;
$lightblue-3: #C7CFE4;
$lightblue-4: #ACB7D7;
$lightblue-5: #91A0C9;
$bg-dark-1: #171D35;
$bg-dark-2: #0E1220;
$bg-light-1: #FFFFFF;
$bg-light-2: #F8FAFE;
$accent-100: #FF3D83;
$accent-200: #FF196C;
$accent-300: #E01B62;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-text;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    max-width: 850px;
}

.credits {
    font-weight: 700;
    font-size: 10px;
    color: $secondary-color;
}