@import 'variables';

body {
    background-image: url('../../assets/img/Index/FONDO.svg');
    background-repeat: repeat-x;
    background-position: center;
}

main {
    margin: 50px;

    .star_img {
        width: 650px;
        z-index: 99;
    }

    .star_title {
        font-family: $font-alt;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        background-color: $primary-5;
    }

    .star_text {
        font-family: $font-alt;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .footer_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 5px;

        a {
            color: #ffffff;
            font-weight: 800;
            position: relative;
            text-decoration: none;

            &::after {
                content: "";
                display: block;
                height: 2px;
                background: currentColor;
                margin-top: 4px;
                border-radius: 2px;
                width: 100%;
            }

            font-size: 18px;
        }

        p {
            color: #ffffff;
            font-size: 14px;
        }
    }
}

// Popup del tutorial
.tutorial-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F9FF;
    margin: auto;
    padding: 20px;
    border: 2px solid $primary-color;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: animatetop;
    animation-duration: 0.4s;

    .tutorial_title {
        font-weight: 500;
        font-size: 40px;
        font-family: $font-alt;
        color: $primary-4;
        text-align: center;
    }

    .tutorial_text {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        color: $primary-4;
        margin-bottom: 20px;
        font-family: $font-text;
    }

    .instructions_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin-bottom: 15px;

        img {
            width: 45px;
            height: 72px;
            margin-right: 15px;
            flex-shrink: 0;
        }

        p {
            color: $primary-4;
            font-family: $font-title;
            font-size: 11px;
            flex-grow: 1;

            margin-left: 15px;
        }
    }
}

.close-button {
    color: $secondary-color;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
    }
}

// Formularios de Mailchimp
#mc_embed_shell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .mc-field-group {
            padding: 10px;
            margin-bottom: 20px;
            width: 580px;
            height: 60px;

            label{
                font-family: $font-alt;
                font-size: 28px;
                color: $primary-3;
            }
        }

        #mce-FNAME,
        #mce-EMAIL,
        .phonepart {
            width: 100%;
            font-size: 28px;
            font-family: $font-alt;
            height: 100%;


            box-shadow:
                0px -5px rgba(171, 178, 217, 0.7),
                5px 0px rgba(171, 178, 217, 0.7),
                0px 5px rgba(171, 178, 217, 0.7),
                -5px 0px rgba(171, 178, 217, 0.7);

            &::placeholder {
                color: $primary-3;
            }
        }

        .phonepart {
            width: 25%;
            margin-right: 5%;
            justify-content: center;
            align-items: center
        }

        .button {
            border-radius: 12px;
            border-color: 1px solid $primary-color;
            width: 100%;
            height: 48px;
            background: linear-gradient(90deg, #0E4DF1 0%, #2A67FB 100%);
            color: #F8FAFE;
            cursor: pointer;
            font-family: $font-text;
            font-weight: 700;
            font-size: 15px;
            transition: transform 0.2s;

            &:hover {
                animation: pulse 0.6s infinite;
            }

            &:active {
                background: linear-gradient(90deg, #ff0000 0%, #ff4d4d 100%);
            }
        }

        #mce-responses {
            background-color: #0E4DF1;
            color: #F8FAFE;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.08);
            }

            100% {
                transform: scale(1);
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }
    }

    #loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #282D58;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 9999;

        .loading-content {
            display: flex;
            flex-direction: column;

            p {
                font-size: 2em;
                color: #ffffff;
                font-weight: bold;
            }

            p,
            span {
                font-family: $font-title;
            }

            /* Estilos para los puntos suspensivos */
            .dot {
                opacity: 0;
                animation: fadeInOut 1.5s infinite;
            }

            .dot:nth-child(1) {
                animation-delay: 0s;
            }

            .dot:nth-child(2) {
                animation-delay: 0.5s;
            }

            .dot:nth-child(3) {
                animation-delay: 1s;
            }

            /* Animación puntos suspensivos */
            @keyframes fadeInOut {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        img {
            width: 200px;
            height: 300px;
        }

        #progress-bar-container {
            width: 350px;
            height: 45px;
            background-color: #5E6C97;
            overflow: hidden;
            margin-top: 15px;

            box-shadow:
                0px -5px $primary-3,
                5px 0px $primary-3,
                0px 5px $primary-3,
                -5px 0px $primary-3,
                // sombra interna
                inset 0px 5px $darkblue-3,
                inset 0px -5px $darkblue-3,
                inset 5px 0px $darkblue-3,
                inset -5px 0px $darkblue-3;
        }

        #progress-bar-fill {
            width: 0%;
            height: 100%;
            background-color: $primary-3;
            transition: width 0.1s linear;
        }
    }

    #form-warning{ 
        color:#fff; 
        background:#e74c3c; 
        border-radius:4px; 
        padding:6px 10px; 
        position:absolute; 
        left:0; 
        right:0; 
        margin:auto; 
        top:-36px; 
        text-align:center; 
        font-size:14px; 
        z-index:20;
    }
}

@media (max-width: 900px) {

    main {
        .star_img {
            width: 320px;
        }

        .star_title {
            font-size: 24px;
        }

        .star_text {
            font-size: 24px;
        }

        .footer_container {
            a {
                color: #083AB5;
                font-size: 20px;
            }

            p {
                color: #1A1A3D;
                background-color: #ffffff;
                font-size: 24px;
                margin-top: 50px;
            }
        }
    }

    // Formularios de Mailchimp
    #mc_embed_shell {
        form {
            .mc-field-group {
                width: 380px;
                height: 50px;
            }

            #mce-FNAME,
            #mce-EMAIL,
            .phonepart {
                width: 95%;
            }

            .phonepart {
                width: 25%;
                margin-right: 4%;
            }

            .button{
                margin-top: 40px;
            }
        }

        #loading-overlay {
            display: flex;
            flex-direction: column;
        }


    }

    .popup-content {

        .instructions_container {
            margin-bottom: 10px;

            p {
                margin-left: 10px;
            }
        }
    }
}