@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fira Mono", monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
  max-width: 850px;
}

.credits {
  font-weight: 700;
  font-size: 10px;
  color: #2A67FB;
}

body {
  background-image: url("../../assets/img/Index/FONDO.svg");
  background-size: 33.3333333333% cover;
  background-repeat: repeat-x;
  background-position: center;
}

main .star_img {
  width: 650px;
  z-index: 99;
}
main .star_text {
  font-family: "Press Start 2P", monospace;
  color: #2A67FB;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
main h2 {
  color: #2A67FB;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
main .footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}
main .footer_container a {
  color: #2A67FB;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
}

.premios_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.premios_container .premios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.premios_container .premios .premios_image {
  width: 60px;
  height: 60px;
}
.premios_container .premios .premios_text {
  font-size: 11px;
  font-weight: 700;
  color: #083AB5;
}

.tutorial-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #F6F9FF;
  margin: auto;
  padding: 20px;
  border: 2px solid #083AB5;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.popup-content .tutorial_title {
  font-weight: 700;
  font-size: 18px;
  color: #2A67FB;
  text-align: center;
}
.popup-content .tutorial_text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #2A67FB;
  margin-bottom: 20px;
}
.popup-content .instructions_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.popup-content .instructions_container img {
  width: 45px;
  height: 72px;
  margin-right: 15px;
  flex-shrink: 0;
}
.popup-content .instructions_container p {
  color: #2A67FB;
  font-family: "Fira Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
}
.popup-content .credits {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #2A67FB;
}

.close-button {
  color: #2A67FB;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close-button:hover, .close-button:focus {
  color: black;
  text-decoration: none;
}

#mc_embed_shell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#mc_embed_shell form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#mc_embed_shell form .indicates-required {
  font-family: "Fira Mono", monospace;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: end;
}
#mc_embed_shell form .indicates-required span {
  color: #ff4d4d;
}
#mc_embed_shell form input[type=email],
#mc_embed_shell form input[type=text] {
  height: 40px;
  width: 288px;
  border-radius: 12px;
  border-color: 1px solid #87A9FC;
  font-family: "Fira Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 10px;
}
#mc_embed_shell form input[type=email]::-moz-placeholder, #mc_embed_shell form input[type=text]::-moz-placeholder {
  color: #5F8DFC;
}
#mc_embed_shell form input[type=email]::placeholder,
#mc_embed_shell form input[type=text]::placeholder {
  color: #5F8DFC;
}
#mc_embed_shell form .button {
  border-radius: 12px;
  border-color: 1px solid #083AB5;
  width: 100%;
  height: 48px;
  background: linear-gradient(90deg, #0E4DF1 0%, #2A67FB 100%);
  color: #F8FAFE;
  cursor: pointer;
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  transition: transform 0.2s;
}
#mc_embed_shell form .button:hover {
  animation: pulse 0.6s infinite;
}
#mc_embed_shell form .button:active {
  background: linear-gradient(90deg, #ff0000 0%, #ff4d4d 100%);
}
#mc_embed_shell form #mce-responses {
  background-color: #0E4DF1;
  color: #F8FAFE;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#mc_embed_shell .hubito {
  position: absolute;
  right: 35%;
  z-index: -10;
  width: 77px;
  height: 112px;
}
#mc_embed_shell #loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282D58;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#mc_embed_shell #loading-overlay .loading-content {
  display: flex;
  flex-direction: column;
  /* Estilos para los puntos suspensivos */
  /* Animación puntos suspensivos */
}
#mc_embed_shell #loading-overlay .loading-content p {
  font-size: 2em;
  color: #ffffff;
  font-weight: bold;
}
#mc_embed_shell #loading-overlay .loading-content p,
#mc_embed_shell #loading-overlay .loading-content span {
  font-family: "Press Start 2P", monospace;
}
#mc_embed_shell #loading-overlay .loading-content .dot {
  opacity: 0;
  animation: fadeInOut 1.5s infinite;
}
#mc_embed_shell #loading-overlay .loading-content .dot:nth-child(1) {
  animation-delay: 0s;
}
#mc_embed_shell #loading-overlay .loading-content .dot:nth-child(2) {
  animation-delay: 0.5s;
}
#mc_embed_shell #loading-overlay .loading-content .dot:nth-child(3) {
  animation-delay: 1s;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#mc_embed_shell #loading-overlay img {
  width: 200px;
  height: 300px;
}
#mc_embed_shell #loading-overlay #progress-bar-container {
  width: 350px;
  height: 45px;
  background-color: #5E6C97;
  overflow: hidden;
  margin-top: 15px;
  box-shadow: 0px -5px #2A67FB, 5px 0px #2A67FB, 0px 5px #2A67FB, -5px 0px #2A67FB, inset 0px 5px #293350, inset 0px -5px #293350, inset 5px 0px #293350, inset -5px 0px #293350;
}
#mc_embed_shell #loading-overlay #progress-bar-fill {
  width: 0%;
  height: 100%;
  background-color: #2A67FB;
  transition: width 0.1s linear;
}/*# sourceMappingURL=index.css.map */